.headshot {
    width: 300px;
    border-radius: 150px;

    &_container {
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: 1000px) {
        &_container {
            justify-content: center;
        }
    }
}